body {
background: #757c75;
color: black;
}
h1 {
text-align: left;
font-size: 18pt;
font-style: normal;
color: blue;
}
h3 {
text-align: left;
font-size: 14pt;
font-style: italic;
color: rgb(255, 0, 0);
}
p {
text-align: center;
font-style: normal;
font-family: Cordia New;
font-size: 14pt;
}
.red{color: rgb(222, 57, 15);
}
#green{color: rgb(25, 184, 25);
}
